@import "tailwindcss";

@theme {
    --color-default: #7B68EE;
    --color-pressed: #533AE9;
    --color-disabled: #A396F3;

    --color-primary: #EEF4FF;

    --color-success: #44BF78;
    --color-error: #F5443A;
    --color-warning: #FB9130;
    --color-link: #2E79EA;

    --color-high: #333333;
    --color-medium: #333333;
    --color-low: #333333;
    --color-disabledGray: #333333;
}